@{
    Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h1>Stylist</h1>

@{
  int k = 1;
}
 
<table class="style">
  <tr>
    <th>Number</th>
    <th>StylistName</th>
    <th>Stylist specialties</th>
  </tr>
    @foreach(Stylist stylist in Model)
    {
      <tr>
        <td>@Html.ActionLink($"{k}", "Details", new { id = stylist.StylistId })</td>
        <td>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId })</td>
        <td>@stylist.StylistSpecialties</td>
      </tr>
      k+=1;
    }
</table>

<p>@Html.ActionLink("Add new STYLIST", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>