@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Client>;

<h1>Clients</h1>

@{
  int k = 1;
}
@if (@Model.Count == 0)
{
  <h3>No Clientss have been added yet!</h3>
} 
<table class = "style" >
  <tr>
    <th>Number</th>
    <th>Client Name</th>
    <th>Stylist Name</th>
  </tr>
    @foreach(Client client in Model)
    {
      <tr>
        <td>@Html.ActionLink($"{k}", "Details", new { id = client.Id })</td>
        <td>@Html.ActionLink($"{client.ClientName}", "Details", new { id = client.Id })</td>
        <td>@client.Stylist.StylistName</td>
      </tr>
      k+=1;
    }
</table>

<p>@Html.ActionLink("Add new client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>